*~
*.ibc
*.ttc
*.ttm

*.dSYM

build/
runtests

dist/idris2.c

docs/build/

libs/**/build
tests/**/output
tests/**/*.so
tests/**/*.dylib
tests/**/*.dll
support/**/*.o
support/**/*.a
support/**/*.d

src/YafflePaths.idr
src/IdrisPaths.idr
